<!-- <div class="footer bg-[#EEFFF6] px-3  sm:px-6 py-6 ">
    <footer class="relative pt-8 pb-6">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap text-left lg:text-left">
                <div class="w-full lg:w-6/12 px-4">
                    <h4
                        class="text-3xl fonat-semibold text-blueGray-700">Let's
                        keep in touch!</h4>
                        <div class="flex space-x-4 mt-5">
                            <a target="_blank"
                            class="mx-1.5 dark:hover:text-[#00693d] text-gray-400 transition-colors duration-300 transform hover:text-[#00693d]"
                            href="https://github.com/Shiv-7303/">
                            <img class="w-8 h-8"
                                src="https://www.vectorlogo.zone/logos/github/github-tile.svg"
                                alt>
                        </a>

                        <a target="_blank"
                            class="mx-1.5 dark:hover:text-[#00693d] text-gray-400 transition-colors duration-300 transform hover:text-[#00693d]"
                            href="https://www.linkedin.com/in/shivansh-rajbhar-b91109282/">
                            <img class="w-8 h-8"
                                src="https://www.vectorlogo.zone/logos/linkedin/linkedin-tile.svg"
                                alt>
                        </a>                         
                        </div>

   
                </div>
                <div class="w-full lg:w-6/12 px-4">
                    <div class="flex flex-wrap items-top mb-6">
                        <div class="w-full lg:w-4/12  ml-auto">
                            <span
                                class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Useful
                                Links</span>
                            <ul class="list-unstyled">
                                <li>
                                    <a
                                        class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                        href="#about">About
                                        Us</a>
                                </li>
                                <li>
                                    <a
                                        class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                        href="">Blog</a>
                                </li>
                                <li>
                                    <a target="_blank"
                                        class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                        href="https://github.com/Shiv-7303/">Github</a>
                                </li>
                                <li>
                                    <a target="_blank"
                                        class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                        href="https://www.linkedin.com/in/shivansh-rajbhar-b91109282/">LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                
                    </div>
                </div>
            </div>
            <hr class="my-6 border-blueGray-300">
            <div
                class="flex flex-wrap items-center md:justify-between justify-center">
                <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                    <div
                        class="text-sm text-blueGray-500 font-semibold py-1">
                        Copyright © <span
                            id="get-current-year">2024</span><a
                            href="https://www.creative-tim.com/product/notus-js"
                            class="text-blueGray-500 hover:text-gray-800"
                            target="_blank"> Website by
                            <a
                                href="https://www.creative-tim.com?ref=njs-profile"
                                class="text-blueGray-500 hover:text-blueGray-800">Shivansh Rajbhar
                    </div>
                </div>
            </div>
        </footer>
    </div> -->

<footer class="bg-white rounded-lg  m-4 ">
    <div class="border-t-[1.3px] border-gray-200"></div>
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-black sm:text-center dark:text-black">© 2024
            <a class="">Shivansh
                Rajbhar™</a>. All Rights Reserved.
        </span>

    <div class="text-black flex items-center space-x-4">
        <div>
            Follow us on 
        </div>
        <div class="flex ">

            <a target="_blank"
                class="mx-1.5 dark:hover:text-[#00693d] text-gray-400 transition-colors duration-300 transform hover:text-[#00693d]"
                href="https://github.com/Shiv-7303/">
                <img class="w-8 h-8"
                    src="https://www.vectorlogo.zone/logos/github/github-tile.svg"
                    alt>
            </a>

            <a target="_blank"
                class="mx-1.5 dark:hover:text-[#00693d] text-gray-400 transition-colors duration-300 transform hover:text-[#00693d]"
                href="https://www.linkedin.com/in/shivansh-rajbhar-b91109282/">
                <img class="w-8 h-8"
                    src="https://www.vectorlogo.zone/logos/linkedin/linkedin-tile.svg"
                    alt>
            </a>

        </div>
    </div>
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-black dark:text-black sm:mt-0">
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Contact</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Home</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>
