
<!-- component -->
<div id="navbar"  style="font-family: Inter, sans-serif;"
  class="bg-gray-100 font-sans w-full  m-0">
  <div class="bg-white ">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between">
        <div>
          <a href="/" class="w-40 flex">
            <img
              src="https://assets-global.website-files.com/6501c88eb0eaccde56b0c083/650423e9b460bf9de873c114_logo-p-500.png"
              alt>
          </a>
        </div>

        <div class="hidden  sm:flex sm:items-center sm:space-x-10">
          <a href="/" style="text-underline-offset: 12px;"
            class="cursor-pointer font-semibold hover:text-[#00693D] text-[#00693D] underline ">Home</a>
          <a href="#about"
            class="cursor-pointer font-semibold hover:text-[#00693D] ">About
            Me</a>
          <a href="/recipe"
            class="cursor-pointer font-semibold hover:text-[#00693D] ">Recipes</a>
        </div>

        <div class="hidden sm:flex sm:items-center">
          <a href="/contact"
            class="group hidden sm:flex cursor-pointer rounded-md border-[2px] px-5 py-[12px] border-[#00693D] hover:bg-[#00693D]  duration-300 hover:ease-in-out transition-all">
            <div style="font-family: Inter, sans-serif; font-weight: 600;"
              class=" flex gap-3 group-hover:text-white">
              Contact Us
              <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 ease-in-out group-hover:transition-all group-hover:scale-110 group-hover:translate-x-[6px] group-hover:text-white">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
              </svg>

            </div>
          </a>
        </div>

        <div id="menuButton" class="sm:hidden cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-[#00693d]">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
          </svg>
          
        </div>
      </div>

      <div id="mobileMenu" class="sm:hidden hidden bg-white py-2">
        <div class="flex flex-col z-50 w-[87%] absolute rounded-lg bg-white space-y-3 justify-center">
          <a href="/"
            class=" text-sm font-semibold text-center text-[#00693d] rounded-lg p-[5px] hover:text-white hover:bg-[#00693d] mb-1">Home</a>
          <a href="#about"
            class=" text-sm font-semibold text-center text-[#00693d] rounded-lg p-[5px] hover:text-white hover:bg-[#00693d] mb-1">About
            Me</a>
          <a href="/recipe"
            class=" text-sm font-semibold text-center text-[#00693d] rounded-lg p-[5px] hover:text-white hover:bg-[#00693d] mb-1">Recipes</a>
          <a href="/contact"
            class=" text-sm font-semibold text-center text-[#00693d] rounded-lg p-[5px] hover:text-white hover:bg-[#00693d] mb-1">Contact</a>

        </div>
      </div>
    </div>
  </div>
</div>